* {
	margin: 0;
	padding: 0;
}

body,
html,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Arial, Helvetica, "Microsoft YaHei", sans-serif;
	font-size: 16px;
	font-weight: 100;
	color: #FFFFFF;
}

body {
	/*min-width: 960px;*/
	background: #000000;
}

ul,
li {
	list-style: none;
}

i {
	font-style: normal;
}

img {
	border: none;
	outline: none;
}

video {
	outline: none;
}

a {
	font-family: "Microsoft YaHei", "微软雅黑";
	font-size: 16px;
	color: #FFFFFF;
	text-decoration: none;
	border: 0;
	outline: none;
}

img {
	border: none;
}

b,
strong {
	font-weight: 100;
}


/*index头部尾部*/

.headerTop a {
	cursor: pointer!important;
}

.bottom a {
	cursor: pointer!important;
}

.headerTop {
	width: 100%;
	height: 80px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
}

.headerTop .Inav {
	width: 100%;
	height: 80px;
	background: #5d5d5d;
	filter: alpha(opacity=95);
	-moz-opacity: 0.95;
	opacity: 0.95;
	position: fixed;
	left: 0;
	top: 0;
	border-bottom: 2px solid #74797d;
	box-sizing: border-box;
}

.headerTop .navTop {
	width: 1400px;
	height: 80px;
	margin: 0 auto;
	/*z-index: 1;*/
}

.headerTop .navTop .logo {
	float: left;
	width: 169px;
	height: 63px;
	margin-top: 9px;
	margin-left: 160px;
}

.header {
	width: 100%;
	position: fixed;
}

.headerTop .navTop a {
	color: #F0F0F0;
	font-size: 18px;
	font-weight: 900;
	cursor: pointer!important;
}

.headerTop ul {
	float: right;
	line-height: 74px;
	padding-right: 20px;
}

.headerTop .en_headerUl {
	padding-right: 120px;
}

.headerTop ul li {
	float: left;
	height: 73px;
}

.headerTop ul li a {
	text-align: center;
	width: 114px;
	display: inline-block;
	position: relative;
	/*transition:all 1s;transform: scale(1);*/
	/* background: url(../images/i-nav1.jpg) no-repeat right center;*/
}

.headerTop .navTop a:hover {
	color: #102568;
	font-weight: 900;
	cursor: pointer!important;
}

.headerTop ul li a:after {
	content: '';
	display: inline-block;
	width: 2px;
	height: 16px;
	background: #FFFFFF;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -8px;
}

#none:after {
	display: none;
}

.headerTop ul li .topColor {
	color: #102568;
}

.hoverboot-wrap {
	float: right;
}


/*#none{background: none;}*/

.headerTop ul .active {
	color: #102568
}

.headerTop ul li .topLogo {
	width: 73px;
	height: 14px;
	display: inline-block;
	background: url(../images/nav_icon.png) no-repeat center center;
}

.headerTop ul li .topJoin:hover .topLogo {
	background: url(../images/nav_hover.png) no-repeat center center;
}

.headerTop ul li .topCome:hover .topLogo {
	background: url(../images/nav_hover.png) no-repeat center center;
}

.headerTop #change {
	width: 50px;
	height: 20px;
	float: right;
	display: inline-block;
	margin-top: 27PX;
	margin-right: 160px;
}

.headerTop #change a {
	display: inline-block;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	color: #4c4c4c;
}

.headerTop #change .english_css {
	background: #dce0e1;
	width: 30px;
	height: 20px;
	color: #4c4c4c;
}

.headerTop #change .chinese_css {
	background: #162b6c;
	width: 20px;
	height: 20px;
	color: #FFFFFF;
}

.logo a {
	cursor: pointer;
}

.footer {
	width: 100%;
	min-width: 1000px;
	height: 234px;
	background: #112641;
	padding-top: 33px;
	float: left;
	overflow: hidden;
	color: #FFFFFF;
}

.bottom {
	width: 1146px;
	height: 100%;
	margin: 0 auto;
	background: #112641;
}

.bottom a:hover {
	text-decoration: underline;
	color: #c7c7c7;
}

.bottom dl {
	float: left;
	height: 178px;
}

.en_footer .bottom dl {
	height: 200px;
}

.bottom .btm-tel {
	margin-left: 30px;
	width: 310px;
	background: url(../images/btmline.png) no-repeat center right;
}

.bottom .btm-tel dt {
	margin-left: 31px;
	margin-bottom: 20px;
	font-size: 18px;
}

.en_footer .bottom .btm-tel dt {
	margin-bottom: 10px;
}

.bottom .btm-tel dd {
	line-height: 27px;
	height: 28px;
	font-size: 14px;
	padding-left: 30px;
}

.bottom .btm-tel .tel1 {
	background: url(../images/i-address.png) no-repeat center left;
}

.bottom .btm-tel .tel2 {
	background: url(../images/i-email.png) no-repeat center left;
}

.bottom .btm-tel .tel3 {
	background: url(../images/i-tel.png) no-repeat center left;
}

.bottom .btm-tel .tel4 {
	background: url(../images/i-posi.png) no-repeat center left;
}

.bottom .btm-service {
	margin-left: 68px;
	width: 182px;
	background: url(../images/btmline.png) no-repeat center right;
}

.bottom .btm-service dt {
	font-size: 18px;
	margin-bottom: 20px;
}

.en_footer .bottom .btm-service dt {
	margin-bottom: 30px;
}

.bottom .btm-service dt img {
	display: inline-block;
	width: 68px;
	height: 15px;
}

.bottom .btm-service dd a {
	line-height: 32px;
	font-size: 14px;
}

.bottom .btm-service .wechat {
	display: none;
	margin-top: -100px;
	margin-left: 115px;
}

.bottom .btm-service .wechat img {
	z-index: 1;
}

.bottom .btm-service #chat {
	width: 60px;
}

.bottom .btm-service .btm-come {
	display: inline-block;
	width: 93px;
	background: url(../images/i-btmlogo1.png) no-repeat center right;
	background-size: 62px 12px;
}

.bottom .btm-service .btm-come:hover {
	display: inline-block;
	background: url(../images/i-btmlogo.png) no-repeat center right;
	background-size: 62px 12px;
}

.flase {
	min-width: 1000px;
	width: 1400px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

#margin-left-20 {
	margin-left: 20px;
}

#margin-left-14 {
	margin-left: 14px;
}


/*index*/

.i-bannerbig {
	width: 100%;
	min-width: 1000px;
	/* height:1000px;*/
	overflow: hidden;
}

.i-bannerbig .i-banner {
	width: 200%;
	/*height:1000px;*/
	overflow: hidden;
}

.i-bannerbig .swiper-slide {
	min-width: 1000px;
	width: 100%;
	/*height: 1000px;*/
	font-size: 200px;
	float: left;
}

.i-bannerbig .swiper-slide img {
	display: block;
	width: 100%;
	width: 1920px\9;
	/*height: 1000px;*/
}

.i-bannerbig .swiper-pagination {
	position: absolute;
	/*top:770px;*/
}

.bannerlogo {
	width: 22px;
	margin: 40% auto 0px;
	z-index: 1;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -11px;
}


/*banner 引导*/

.bannerlogo img {
	display: block;
	margin: 0 auto;
}

.bannerlogo .leadimg {
	margin: 0px auto 16px;
	animation: myfirst 1.8s;
	animation-iteration-count: infinite;
	-moz-animation: myfirst 1.8s;
	-moz-animation-iteration-count: infinite;
	-webkit-animation: myfirst 1.8s;
	-webkit-animation-iteration-count: infinite;
}

@keyframes myfirst {
	0% {
		margin: 0px auto 16px;
	}
	50% {
		margin: 16px auto 16px;
	}
	100% {
		margin: 0px auto 16px;
	}
}

.indexBLo {
	position: absolute;
	left: 0;
	top: 42%;
	width: 100%;
	height: 165px;
	z-index: 1;
}

.indexBLo img {
	display: block;
	margin: 0 auto;
}

.vedio-content {
	width: 100%;
	height: 100%;
	z-index: 4;
	position: fixed;
	left: 0;
	top: 0;
	margin: 0 auto;
}

.vedio-content .vedio-black {
	width: 100%;
	height: 100%;
	background: #000000;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

.vedio-content .vedio-play {
	width: 937px;
	height: 541px;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	opacity: 1;
}

#example_video1 {
	width: 1138px;
	height: 640px;
}

.vedio-content .vedio-play .box {
	width: 100%;
	overflow: hidden;
	display: none;
}


/*index 视频*/

.conter {
	min-width: 1000px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background: #112641;
}

.conter li {
	width: 33.33333%;
	height: 100%;
	float: left;
	position: relative;
	overflow: hidden;
}

.conter li:hover {
	cursor: pointer;
}

.conter li .playIcon img {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	margin: auto;
}

.conter li .playImg {
	display: block;
}

.conter li playIcon {
	display: block;
}

.conter li .playImg img {
	display: inline-block;
	width: 100%;
	transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-webkit-transition: all 1s;
	transform: scale(1.04);
	-webkit-transform: scale(1.04);
	-moz-transform: scale(1.04);
	-ms-transform: scale(1.04);
}

.vedio-content {
	display: none;
}

.conter li:hover .playImg img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
}


/*走进SOOVII*/

.comeContent {
	min-width: 1000px;
	width: 100%;
}

.comeContent .come1 {
	width: 100%;
	height: 933px;
	background: url(../images/come_banner_bg.jpg) no-repeat center center;
	background-size: 100% 100%;
	overflow: hidden;
	background-attachment: fixed;
}

.en_about .comeContent .come1 {
	height: 1033px;
}

.comeContent .come1 .comeBanner {
	display: block;
	margin: 196px auto 80px;
}

.comeContent .come1 .comeBannerText {
	width: 1114px;
	margin: 24px auto;
	font-size: 16px;
	line-height: 28px;
	text-indent: 34px;
}

.en_comeContent .come1 .comeBannerText {
	font-size: 17px;
}

.comeContent .come1 .comeBannerText span {
	font-size: 18px;
	font-weight: 900;
}

.comeContent .come1 .comeChange {
	display: block;
	width: 38px;
	height: 28px;
	margin: 50px auto 0;
	animation: comeChang 1.8s;
	animation-iteration-count: infinite;
	-moz-animation: comeChang 1.8s;
	-moz-animation-iteration-count: infinite;
	-webkit-animation: comeChang 1.8s;
	-webkit-animation-iteration-count: infinite;
}

@keyframes comeChang {
	0% {
		width: 38px;
		height: 28px;
	}
	60% {
		width: 30px;
		height: 22px;
	}
	100% {
		width: 38px;
		height: 28px;
	}
}

.str_move {
	cursor: auto;
}

.comeContent .come2 {
	width: 100%;
	height: 1200px;
	background: url(../images/come_fazhanlicheng_bg.jpg) no-repeat center center;
	background-size: 100% 100%;
	overflow: hidden;
	background-attachment: fixed;
	position: relative;
	padding-bottom: 80px;
}

.comeContent .comeTitle h3 {
	font-size: 36px;
	color: #e6e6e6;
	display: block;
	height: 61px;
	width: 144px;
	border-bottom: 3px solid #102568;
	margin: 58px auto 15px;
}

.comeContent .comeTitle h4 {
	font-size: 24px;
	color: #102568;
	text-align: center;
	font-family: arial;
}

.en_about .comeContent .comeTitle .bottom-140-3 {
	display: block;
	width: 140px;
	height: 3px;
	background-color: #102568;
	margin: 0 auto;
}

.en_about .comeTitle h4 {
	color: #fff;
}

.margin-top-50 {
	margin-top: 50px!important;
}

.margin-bottom-20 {
	margin-bottom: 20px!important;
}

.comeContent .come2 .comeDevelop {
	width: 903px;
	margin: 7px 0 88px -350px;
	overflow: hidden;
	position: absolute;
	left: 50%;
}

.en_about .comeContent .come2 .comeDevelop {
	width: 1130px;
	left: 39%;
}

.comeContent .come2 .comeDevelop li {
	width: 100%;
	height: 120px;
	background: url(../images/come_fazhanlicheng_icon1.png) no-repeat 190px bottom;
	margin: 0 auto 0;
	overflow: hidden;
}

.comeContent .come2 .comeDevelop .flag {
	background-image: url(../images/come_fazhanlicheng_icon2.png);
}

.comeContent .come2 .comeDevelop li span {
	float: left;
	width: 180px;
	float: left;
	text-align: left;
	margin-top: 40px;
}

.comeContent .come2 .comeDevelop li .thisDay {
	margin-top: 52px;
}

.comeContent .come2 .comeDevelop li span .tree_time {
	display: block;
	text-align: right;
	font-size: 22px;
	color: #e6e6e6;
	margin-top: 24px;
	margin-right: 33px;
	font-family: arial;
}

.comeContent .come2 .comeDevelop div {
	float: left;
	width: 51px;
	height: 100%;
	background: url(../images/come_fazhanlicheng_line.png) no-repeat right top;
}

.comeContent .come2 .comeDevelop li h5 {
	float: left;
	width: 600px;
	font-size: 24px;
	color: #e6e6e6;
	margin-left: 72px;
	margin-top: 64px;
}

.en_about .comeContent .come2 .comeDevelop li h5 {
	width: 820px;
}

.comeContent .come2 .comeDevelop .thisTwo {
	margin-top: 50px;
}


/*.en_about .comeContent .come2 .comeDevelop .thisTwo{margin-top:30px;}*/


/*.en_about .comeContent .come2 .comeDevelop li  .margin-top-50{margin-top:50px;}*/

.comeContent .come3 {
	width: 100%;
	height: 686px;
	background: url(../images/come_qiyewenhua_bj.png) no-repeat center center;
	background-size: 100% 100%;
	overflow: hidden;
	background-attachment: fixed;
}

.comeContent .come3 .cultureCon {
	width: 974px;
	height: 385px;
	margin: 60px auto 0;
}

.en_about .comeContent .come3 .cultureCon {
	width: 1000px;
}

.comeContent .come3 dl {
	float: left;
	width: 159px;
	height: 100%;
	margin-right: 106px;
	color: #404040;
	font-size: 14px;
}

.en_about .comeContent .come3 dl {
	width: 186px;
	margin-right: 70px;
}

.comeContent .come3 dl dd {
	font-size: 14px;
	color: #404040;
	margin: 0 16px;
	line-height: 26px;
	/*text-align:justify; text-justify:distribute-all-lines;*/
}

.en_about .comeContent .come3 dl dd {
	margin: 0 8px;
}

.comeContent .come3 .culture1 {
	background: url(../images/come_qiyewenhua_shiming.png) no-repeat center center;
}

.en_about .comeContent .come3 .culture1 {
	background: url(../images/en_come_qiyewenhua_shiming.png) no-repeat center center;
}

.en_about .comeContent .come3 .culture2 {
	background: url(../images/en_come_qiyewenhua_yuanjing.png) no-repeat center center;
}

.en_about .comeContent .come3 .culture3 {
	background: url(../images/en_come_qiyewenhua_jiazhiguan.png) no-repeat center center;
}

.en_about .comeContent .come3 .culture4 {
	background: url(../images/en_come_qiyewenhua_rencailinian.png) no-repeat center center;
	margin-right: 0px;
}

.comeContent .come3 .about_smaliltle {
	display: block;
	font-size: 24px;
	font-family: arial;
	line-height: 30px;
	margin-top: 120px;
	text-align: center;
}

.comeContent .come3 .about_cntitle {
	display: block;
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 28px;
	text-align: center;
	color: #2b2b2b;
}

.comeContent .come3 span {
	display: inline-block;
	width: 40px;
	height: 2px;
	margin-left: 59px;
}

.en_about .comeContent .come3 .margin-top-30 {
	margin-top: 30px!important;
}

.comeContent .come3 .culture2 {
	background: url(../images/come_qiyewenhua_yuanjing.png) no-repeat center center;
}

.comeContent .come3 .culture3 {
	background: url(../images/come_qiyewenhua_jiazhiguan.png) no-repeat center center;
}

.comeContent .come3 .culture4 {
	background: url(../images/come_qiyewenhua_rencailinian.png) no-repeat center center;
	margin-right: 0px;
}

.comeContent .come4 {
	width: 100%;
	height: 518px;
	background: #515151;
	background-attachment: fixed;
	overflow: hidden;
}

.comeContent .come4 .partnerPic {
	width: 1400px;
	height: 236px;
	margin: 58px auto 0;
	overflow: hidden;
	position: relative;
}

.comeContent .come4 .partnerPic img {
	display: inline-block;
	width: 248px;
	height: 236px;
	margin-right: 34px;
}

.comeContent .come4 .partnerPic .swiper-wrapper {
	width: 1698px;
	height: 237px;
	padding-left: 24px;
}

.comeContent .come4 .partnerPic .swiper-wrapper .swiper-slide {
	width: 248px;
	height: 236px;
	float: left;
}


/*跑马灯代码*/

.str4 img {
	opacity: 0.8
}

.str4 img:hover {
	opacity: 1
}

.htmleaf-container {
	width: 900px;
}


/*产品与服务*/

.serviceCen {
	min-width: 1000px;
	width: 100%;
	overflow: hidden;
	background: #112641;
}

.serviceCen .serviceC {
	width: 100%;
	height: 866px;
	overflow: hidden;
	position: relative;
}

.serviceCen .serviceCen1 {
	background: url(../images/serviceshixiaozhipian_bg.jpg) no-repeat center center;
	background-size: cover;
}

.serviceCen .serviceCen2 {
	background: url(../images/serviceshuzizichan_bg.jpg) no-repeat center center;
	background-size: cover;
}

.serviceCen .serviceCen3 {
	background: url(../images/serviceCGmeishu_bg.jpg) no-repeat center center;
	background-size: cover;
}

.serviceCen .serviceC div {
	width: 100%;
	height: 866px;
	overflow: hidden;
	position: absolute;
	left: 128px;
	/*left: 128px\9;*/
	top: 306px;
	opacity: 0;
}

.serviceCen .serviceC .serviceC2 {
	top: 406px;
}

.serviceCen .serviceC span {
	display: inline-block;
	width: 100%;
	height: 866px;
	background: #000000;
	filter: alpha(opacity=30);
	-moz-opacity: 0.30;
	opacity: 0.30;
	position: absolute;
	left: 0;
	top: 0;
}

.serviceCen .serviceC div p {
	font-size: 24px;
	line-height: 52px;
	color: #c7c7c7;
}

.serviceCen .serviceC dl {
	position: absolute;
	bottom: 165px;
	margin-left: 128px;
	font-size: 48px;
	color: #c7c7c7;
	line-height: 0;
}

.serviceCen .serviceC dl dd {
	font-size: 30px;
	font-family: arial;
	margin-top: 66px;
}


/*经典案例*/

.caseCon {
	min-width: 1000px;
	width: 100%;
	background: #434343;
	overflow: hidden;
}

.caseCon li {
	width: 100%;
	min-height: 600px;
	overflow: hidden;
	position: relative;
}

.caseCon li .caseDiv_mask {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 600px;
	background-color: #000;
	filter: alpha(opacity=50);
	-moz-opacity: 0.50;
	opacity: 0.50;
	cursor: pointer;
	z-index: 2;
	display: inline-block;
}

.caseCon .caseLi1 .caseDiv_mask {
	height: 680px;
}

.caseCon .caseLi1 dl {
	margin-top: 680px;
}

.caseCon .caseLi1 {
	min-height: 680px;
}

.caseCon .caseYDiv1 {
	width: 100%;
	height: 680px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../images/case1.jpg) no-repeat center top;
	background-size: cover;
	z-index: 1;
}

.caseCon .caseYDiv2 {
	width: 100%;
	height: 600px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../images/case2.jpg) no-repeat center top;
	background-size: cover;
	z-index: 1;
}

.caseCon .caseYDiv3 {
	width: 100%;
	height: 600px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../images/case3.jpg) no-repeat center top;
	background-size: cover;
	z-index: 1;
}

.caseCon .caseYDiv4 {
	width: 100%;
	height: 600px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../images/case4.jpg) no-repeat center top;
	background-size: cover;
	z-index: 1;
}

.caseCon .caseYDiv5 {
	width: 100%;
	height: 600px;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../images/case_yl.jpg) no-repeat center top;
	background-size: cover;
	z-index: 1;
}

.caseCon .caseLi1 .caseDiv {
	height: 100%;
}

.caseCon li .caseDiv {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3;
	display: none;
}

.caseCon li .caseDiv .caseSpan {
	display: inline-block;
	width: 100%;
	height: 100%;
	background: #000000;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
	z-index: 3;
}

.caseCon li .caseDiv .caseVedio {
	display: inline-block;
	width: 959px;
	height: 541px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 33;
}

.caseCon li dl {
	width: 100%;
	height: 266px;
	margin-top: 600px;
	margin: 600px auto 0\9;
	font-size: 18px;
	color: #e6e6e6;
	display: none;
	z-index: 3;
	overflow: hidden;
}

.caseCon li dl dt {
	width: 33%;
	height: 266px;
	float: left;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}

.caseCon li dl dt .palyImg img {
	display: inline-block;
	position: absolute;
	/*right: 50%; top: 40%;*/
	margin-right: -30px;
	width: 456px;
	height: 266px;
}

.caseCon li dl dt .playIcon img {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	margin: auto;
}

.caseCon li dl dt .playImg img {
	display: inline-block;
	margin: 0 auto;
	transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-webkit-transition: all 1s;
}

.vedio-content {
	display: none;
}

.caseCon li dl dt:hover .playImg img {
	transform: scale(1.05, 1.05);
	-webkit-transform: scale(1.05, 1.05);
	-moz-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
}

.caseCon li dl dd {
	width: 67%;
	height: 266px;
	float: left;
	background: #434343;
}

.caseCon li dl dd h3 {
	font-size: 26px;
	margin: 50px 0 35px 24px;
	color: #c7c7c7;
}

.caseCon li dl dd h3 span {
	font-size: 18px;
}

.caseCon li dl dd h4 {
	display: inline-block;
	height: 40px;
	margin-left: 30px;
	margin-right: 33px;
}

.caseCon li dl dd h4 span {
	display: inline-block;
	border-radius: 10px;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	margin-right: 20px;
}

.caseCon li dl dd h4 .vfx {
	width: 70px;
	background: #102568;
}

.caseCon li dl dd h4 .c3D {
	width: 160px;
	background: #674610;
}

.caseCon li dl dd p {
	margin: 30px 0 50px 30px;
	display: block;
	height: 50px;
	width: 934px;
}

.font-size-20 {
	font-size: 20px!important;
}

.font-weight-900 {
	font-weight: 900;
}


/*新闻中心*/

.newsCon {
	width: 100%;
	min-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	background: #FFFFFF;
}

.newsBanner {
	width: 100%;
	overflow: hidden;
	position: relative;
	background: #F0F0F0;
}

.newsBanner .swiper-wrapper .swiper-slide {
	width: 100%;
	height: 100%;
	position: relative;
	float: left;
}

.newsBanner .swiper-wrapper .swiper-slide img {
	width: 100%;
}

.newsBanner .flase {
	z-index: 1;
}

.newsBanner .swiper-wrapper .swiper-slide .newsBT {
	width: 425px;
	height: 60px;
	margin: 117px 0 32px 200px;
}

.newsBanner .swiper-wrapper .swiper-slide h1 {
	display: inline-block;
	width: 425px;
	height: 60px;
	margin: 117px 0 32px 200px;
	font-size: 24px;
	font-family: "黑体";
	color: #FFFFFF;
	line-height: 60px;
	text-align: center;
	position: relative;
	z-index: 1;
}

.newsBanner .swiper-wrapper .swiper-slide p {
	display: block;
	width: 366px;
	height: 193px;
	padding: 38px 52px 0 42px;
	font-size: 14px;
	line-height: 24px;
	border: 2px solid #9e9797;
	margin-left: 184px;
	/*text-align:justify; text-align-last:justify; */
	position: relative;
}

.newsBanner .swiper-wrapper .swiper-slide p span {
	font-size: 12px;
	margin-bottom: 40px;
	position: absolute;
	left: 42px;
	bottom: 0px;
}

.newsBanner .swiper-wrapper .swiper-slide .newsBimg {
	width: 100%;
	height: 508px;
	position: absolute;
	left: 0;
	top: 0;
	background-repeat: no-repeat;
	background-position: center -240px;
	background-size: 100% auto;
}

.newsBanner .swiper-wrapper .swiper-slide .newsBimg1 {
	background-image: url(../images/news_top_banner.jpg);
}

.newsBanner .swiper-wrapper .swiper-slide .newsBimg2 {
	background-image: url(../images/news_top_banner.jpg);
}

.newsBanner .swiper-wrapper .swiper-slide .newsBimg3 {
	background-image: url(../images/news_top_banner.jpg);
}

.newsCenter {
	width: 100%;
	height: 100%;
	min-height: 1000px;
	margin: 0 auto;
	padding-bottom: 40px;
	color: #909090;
	background: #FFFFFF;
	overflow: hidden;
	position: relative;
}

.nCenT {
	width: 100%;
	height: 100px;
	background: #f0f0f0;
	overflow: hidden;
}

.nCenT h6 {
	color: #000000;
	font-weight: 900;
	font-family: "黑体";
	font-size: 24px;
	text-align: center;
	margin-top: 19px;
}

.nCenT i {
	display: inherit;
	width: 90px;
	height: 3px;
	background: #102568;
	margin: 9px auto 13px;
}

.nCenT span {
	display: inherit;
	color: #102568;
	font-size: 12px;
	font-weight: 900;
	font-family: arial;
	text-align: center;
}

.newsCenter .li {
	width: 30%;
	height: 420px;
	float: left;
	position: relative;
	/*margin-bottom: 60px;*/
}

.newsCenter .li .newsLiImg {
	overflow: hidden;
	height: 57%;
}

.newsCenter .li .newsLiImg img {
	display: block;
	width: 100%;
	height: auto;
}

.newsMargin {
	margin: 0 5%;
}

.newsCenter .li .newsSmall {
	width: 100%;
	height: 43%;
	overflow-x: hidden;
	position: absolute;
	left: 0;
	bottom: 0;
}

.newsCenter .li .nCAtcT {
	width: 100%;
	height: 35%;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
	overflow: hidden;
}

.newsCenter .li:hover {
	box-shadow: 0px 7px 9px -5px #333333;
	cursor: pointer;
}

.newsCenter .li .nCAtcT p {
	display: inline-block;
	width: 100%;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 32px;
	font-weight: 900;
	margin-left: 18px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}

.newsCenter .li .nCAtcT a {
	font-size: 18px;
	display: block;
	width: 100%;
}

.newsCenter .li .nCAtcT i {
	display: inline-block;
	width: 100%;
	height: 70px;
	position: absolute;
	left: 0;
	top: -4px;
	background: #000000;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.newsCenter .li .nCAtP {
	width: 100%;
	height: 65%;
	display: inline-block;
	line-height: 16px;
	border: 2px solid #e6e6e6;
	border-top: 0;
	background: #FFFFFF;
	overflow: hidden;
	box-sizing: border-box;
	cursor: auto;
}

.li .nCAtP {
	position: absolute;
	left: 0;
	bottom: 2px;
}

.newsCenter .li .nCAtP p {
	display: inline-block;
	height: 70px;
	margin: 10px 20px 0 20px;
}

.newsCenter .li .nCAtP p a {
	font-size: 12px;
	line-height: 24px;
	font-family: "宋体";
	color: #2a2a2a;
	display: block;
	width: 100%;
	height: 100%;
}

.newsCenter .li .nCAtP p span {
	font-size: 12px;
	color: #2a2a2a;
	position: absolute;
	bottom: 12px;
}

.newsCenter .li .shareTo .b {
	height: 49px;
	width: 63px;
	position: absolute;
	background: url(../images/xinwenzhongxin_share1.png) no-repeat center left;
	font-size: 12px;
	z-index: 1;
}

.newsCenter .li .shareTo {
	width: 178px;
	height: 50px;
	position: absolute;
	bottom: 0px;
	right: -120px;
	color: #000000;
	font-size: 12px;
	font-family: arial;
	line-height: 52px;
	overflow: hidden;
	/*display: none;*/
	z-index: 1;
}

.newsCenter .li .shareTo a {
	display: inline-block;
	height: 29px;
	text-align: center;
	margin-right: 8px;
	margin-top: 3px;
	color: #2a2a2a;
}

.newsCenter .li .shareTo strong {
	display: inline-block;
	height: 29px;
	text-align: center;
	margin-right: 8px;
	margin-top: 7px;
	position: absolute;
	right: -7px;
	top: 0px;
}

.newsCenter .li .shareTo .b:hover {
	background: url(../images/xinwenzhongxin_share2.png) no-repeat center left;
	color: #102568;
}


/*分页器代码*/

.pageLi {
	width: 100%;
	height: 87px;
	margin: 0 auto;
	float: left;
}

.pageLi ul {
	width: 680px;
	margin: 0 auto;
}

.pageLi ul li {
	float: left;
	width: 48px;
	height: 38px;
	background: #f8f8f8;
	cursor: pointer;
	border: 1px solid #dcdcdc;
	border-radius: 10px;
	margin-right: 10px;
}

#demo1 a {
	display: block;
	text-align: center;
	color: #2A2A2A;
	font-size: 14px;
	margin: 10px auto 0;
	font-family: arial;
}

#demo1 .next {
	border: 0;
	background: none;
	width: 20px;
	line-height: 14px;
}

#demo1 .last {
	width: 70px;
}

#demo1 .prev {
	width: 70px;
}

#demo1 .activeFy {
	background: #102568;
}

#demo1 .activeFy a {
	color: #FFFFFF;
}


/*新闻中心详情页*/

.newsCC {
	width: 100%;
	height: 76px;
	background: #e6e6e6;
	margin-top: 80px;
}

.newsCC h1 {
	line-height: 76px;
	color: #000000;
	font-size: 20px;
	margin-left: 100px;
}

.newsCC h1 a {
	color: #000000;
	font-size: 20px;
}

.newsCC h1 i {
	color: #000000;
	font-size: 20px;
	display: inline-block;
	width: 22px;
	text-align: center;
}

.newsCen2 {
	width: 100%;
	height: 100%;
	min-height: 1000px;
	margin: 0 auto;
	color: #909090;
	background: #FFFFFF;
	overflow: hidden;
	position: relative;
}

.newsCen2 .newsLeft {
	width: 52%;
	width: 45%\9;
	min-height: 704px;
	background: #FFFFFF;
	float: left;
	padding: 52px 20px 20px 0;
	margin-left: 100px;
	overflow: hidden;
}

.newsCen2 .newsLeft .dl {
	width: 100%;
	margin: 46px auto 40px;
	/*  height: 271px;background:url(../images/ct_pic.jpg) no-repeat center top; */
	position: relative;
}

.newsCen2 .newsLeft .dl img {
	display: block;
	margin: 0 auto;
}

.newsCen2 .newsLeft h5 {
	font-size: 12px;
	text-align: center;
	line-height: 32px;
	color: #323232;
	margin-top: 14px;
}

.newsCen2 .newsLeft h1 {
	color: #2B2B2B;
	font-size: 24px;
	margin-bottom: 20px;
}

.newsCen2 .newsLeft b,
strong {
	color: #666666;
	font-size: 12px;
	margin-right: 60px;
}

.newsCen2 .newsLeft p {
	font-size: 14px;
	text-indent: 30px;
	line-height: 26px;
	color: #323232;
	margin-bottom: 24px;
}

.newsCen2 .newsLeft p span {
	color: #393939;
	font-size: 18px;
}

.newsCen2 .newsLeft p em {
	font-weight: 900;
	font-style: normal;
}

.newsCen2 .newsRit {
	width: 30%;
	min-height: 756px;
	/* margin-top:168px;*/
	margin-right: 100px;
	float: right;
	border-left: 1px dashed #c9c9c9;
	padding-left: 24px;
	position: absolute;
	right: 0;
	top: 53px;
}

.newsCen2 .newsRit .nRTop {
	width: 100%;
	min-height: 324px;
}

.newsCen2 .newsRit .nRTop a {
	display: inline-block;
	width: 100%;
	height: 150px;
}

.newsCen2 .newsRit .nRTop .nCCAd1 {
	background: url(../images/news_banner_1.png) no-repeat center center;
}

.newsCen2 .newsRit .nRTop .nCCAd2 {
	background: url(../images/news_banner_2.png) no-repeat center center;
}

.newsCen2 .newsRit .nRCen {
	font-size: 16px;
	line-height: 50px;
	color: #676767;
}

.newsCen2 .newsRit .nRBtm {
	width: 100%;
	min-height: 300px;
	box-sizing: border-box;
}

.newsCen2 .newsRit .nRBtm dl {
	width: 418px;
	height: 80px;
	margin-top: 20px;
}

.newsCen2 .newsRit .nRBtm dl dt {
	width: 140px;
	height: 80px;
	float: left;
	margin-right: 8px;
	overflow: hidden;
}

.newsCen2 .newsRit .nRBtm dl dt img {
	width: 100%;
}

.newsCen2 .newsRit .nRBtm dl dd {
	width: 261px;
	height: 80px;
	line-height: 26px;
	float: right;
	overflow: hidden;
}

.newsCen2 .newsRit .nRBtm dl dd a {
	display: inline-block;
	margin-top: 14px;
	font-size: 14px;
	color: #323232;
}

.newsCen2 .newsRit .nRBtm dl:hover a {
	color: #102568;
}

.newsCen2 .newsBtm {
	width: 100%;
	height: 60px;
	margin-bottom: 16px;
	float: left;
}

.newsCen2 .newsBtm .newsBC {
	width: 90%;
	height: 60px;
	margin: 0 auto;
	border: 1px solid #e6e6e6;
	box-sizing: border-box;
	overflow: hidden;
}

.newsCen2 .newsBtm .newsBC div {
	width: 50%;
	height: 60px;
	float: left;
	display: inline;
}

.newsCen2 .newsBtm .newsBC a {
	display: inline-block;
	width: 578px;
	height: 60px;
	line-height: 60px;
	font-size: 14px;
	color: #404040;
	float: left;
}

.newsCen2 .newsBtm .newsBC a:hover {
	color: #102568;
	text-decoration: underline;
}

.newsCen2 .newsBtm .newsBC .newsPre a {
	text-align: right;
	margin-right: 20px;
}

.newsCen2 .newsBtm .newsBC .newsNex a {
	margin-left: 20px;
}


/*调用分享*/

body .jiathis_style_32x32 .jtico {
	background: none!important;
	padding-left: 0!important;
}

.jiathis_style_32x32 .jiathis_separator {
	margin: 0!important;
}


/*加入SooVii*/

.joinCon {
	width: 100%;
	background: #FFFFFF;
}

.joinCon .joinTop {
	width: 100%;
	height: 710px;
	background: url(../images/join_banner_bg.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
	border-bottom: 4px solid #e8e8e8;
	padding-top: 80px;
}

.joinCon .joinTop .flase {
	width: 753px;
}

.joinCon .joinTop img {
	margin: 280px auto 123px;
	display: block;
}

.joinCon .joinWel {
	width: 100%;
	height: 920px;
	background: #3e3e3e;
}

.joinCon .joinWel .joinTit {
	width: 100%;
	height: 228px;
	background: url(../images/join_yuangongfuli_bg.jpg) no-repeat center center;
	background-size: 100% 100%;
	overflow: hidden;
}

.joinCon h1 {
	font-size: 34px;
	color: #2b2b2b;
	text-align: center;
	margin-top: 54px;
}

.joinCon h2 {
	font-size: 26px;
	font-family: arial;
	color: #102568;
	text-align: center;
	margin: 23px 0;
}

.joinCon span {
	display: block;
	width: 60px;
	height: 2px;
	background: #102568;
	margin: 0 auto;
}

.joinCon .joinWel .joinShow {
	width: 1200px;
	height: 300px;
	background: #3E3E3E;
	margin: 168px auto;
	position: relative;
}

.joinCon .joinUs {
	padding-bottom: 30px;
	background: #ffffff;
}

.joinCon .joinUs .joinTit {
	width: 100%;
	height: 228px;
	background: url(../images/join_zhaopinxinxi_bg.jpg) no-repeat center center;
	background-size: 100% 100%;
	overflow: hidden;
}

.joinCon .joinUs .joinInforma {
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	background: #FFFFFF;
}

.joinCon .joinUs .joinInfor {
	width: 754px;
	height: 120px;
	margin: 0 auto;
	padding: 53px 0 0 0;
}

.joinCon .joinUs .joinInfor li {
	width: 150px;
	height: 60px;
	background: #e6e6e6;
	float: left;
	margin-right: 150px;
}

.joinCon .joinUs .joinInfor li a {
	display: inline-block;
	width: 150px;
	height: 58px;
	font-family: "microsoft yahei";
	cursor: pointer;
	line-height: 60px;
	text-align: center;
	font-size: 22px;
	color: #2B2B2B;
}

.joinCon .joinUs .joinInfor li:hover a {
	background-color: #102568;
	color: #F0F0F0;
}

.joinCon .joinUs .joinInfor .active4 {
	color: #FFFFFF;
	height: 70px;
	background: url(../images/join_zhaopinxinxi_hover.png) no-repeat center center;
}

.joinCon .joinUs .joinInfor .active4 a {
	color: #F0F0F0;
}

.joinCon .joinUs .joinInCon {
	width: 100%;
	margin-top: 24px;
	position: relative;
}

.joinCon .joinUs .joinInCon li {
	width: 100%;
	height: 100%;
	display: none;
}

.joinCon .joinUs .joinInCon .active5 {
	display: block;
}

.joinCon .active6 {
	background: #102568;
	color: #f8fcfc;
}

.joinCon .active7 {
	background: #102568;
	color: #f8fcfc;
}

.joinCon .active8 {
	background: #102568;
	color: #f8fcfc;
}

#flashcontent {
	height: 600px;
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}


/*企业相册展示*/

#box {
	position: relative;
	width: 754px;
	height: 292px;
	margin: 168px auto 0;
}

#box ul {
	position: relative;
	width: 754px;
	height: 292px;
}

#box li {
	position: absolute;
	list-style: none;
	background: #000;
	width: 0;
	height: 0;
	top: 146px;
	left: 377px;
	z-index: 0;
	cursor: pointer;
	overflow: hidden;
	border-radius: 3px;
	cursor: default;
}

#box li img {
	width: 100%;
	height: 100%;
	vertical-align: top;
}

#box .prev,
#box .next {
	position: absolute;
	top: 50%;
	width: 39px;
	height: 80px;
	margin-top: -40px;
	overflow: hidden;
	text-indent: -999px;
	cursor: pointer;
	background: url(../images/btn.png) no-repeat;
}

#box .prev {
	left: -160px;
	top: 180px;
}

#box .next {
	right: -160px;
	top: 180px;
	background-position: -39px 0;
}

.str_move str_origin a {
	cursor: none;
}

@media only screen and (min-width: 1190px) {
	#box .prev {
		left: -207px;
	}
	#box .next {
		right: -207px;
	}
}


/*导航响应*/

@media only screen and (min-width: 1400px) {
	.headerTop .navTop {
		width: 1450px;
	}
	.newsCen2 .newsRit .nRBtm dl {
		width: 100%;
	}
	.newsCen2 .newsRit .nRBtm dl dd {
		width: 64%;
		float: left;
	}
	.newsCen2 .newsLeft {
		padding-left: 100px;
		margin-left: 0;
	}
	.newsCen2 .newsRit {
		margin-right: 0;
		padding-right: 100px;
	}
}

@media only screen and (min-width: 1500px) {
	.headerTop .navTop {
		width: 1500px;
	}
	.newsCen2 .newsRit .nRTop .nCCAd1 {
		background-size: cover;
		height: 220px;
	}
	.newsCen2 .newsRit .nRTop .nCCAd2 {
		background-size: cover;
		height: 220px;
	}
}

@media only screen and (min-width: 1600px) {
	.headerTop .navTop {
		width: 1550px;
	}
	.newsCen2 .newsRit .nRTop .nCCAd1 {
		background-size: cover;
		height: 240px;
	}
	.newsCen2 .newsRit .nRTop .nCCAd2 {
		background-size: cover;
		height: 240px;
	}
	/*新闻中心图片大图*/
}

@media only screen and (min-width: 1260px) and (max-width: 1400px) {
	.headerTop .navTop {
		width: 1250px;
	}
	.headerTop .navTop .logo {
		margin-left: 100px;
	}
	.headerTop #change {
		margin-right: 100px;
	}
}

@media only screen and (max-width: 1260px) {
	.headerTop .navTop {
		width: 1034px;
	}
	.headerTop .navTop .logo {
		margin-left: 30px;
	}
	.headerTop #change {
		margin-right: 30px;
	}
}


/*新闻中心响应*/

@media only screen and (max-width: 1072px) {
	.newsCen2 .newsRit {
		margin-right: 110px;
	}
}

@media only screen and (max-width: 1242px) {
	.newsCen2 .newsLeft {
		width: 49%;
	}
	.newsCen2 .newsRit {
		width: 27%;
	}
}

@media only screen and (max-width: 1083px) {
	.newsCen2 .newsLeft {
		width: 46%;
	}
}

@media only screen and (min-width: 1440px) {
	.newsCen2 .newsLeft {
		width: 52%;
	}
	.newsCen2 .newsRit .nRTop .nCCAd1 {
		background-size: cover;
		height: 180px;
	}
	.newsCen2 .newsRit .nRTop .nCCAd2 {
		background-size: cover;
		height: 180px;
	}
}

@media only screen and (min-width: 1245px) and (max-width: 1440px) {
	.newsCen2 .newsLeft {
		width: 52%;
	}
}

@media only screen and (max-width: 1390px) {
	/*.bottom{width: 1000px;}*/
	/*.bottom .btm-tel{    margin-left: 112px;  width: 257px;}*/
	/*.bottom .btm-service{    margin-left: 34px; width: 143px;}*/
	#example_video1 {
		width: 937px;
		height: 640px;
	}
	/*//走进SooVii*/
	.comeContent .come1 .comeBannerText {
		width: 910px;
	}
	.comeContent .come3 dl {
		margin-right: 95px;
	}
	.comeContent .come4 .partnerPic {
		width: 1000px;
	}
	.comeContent .come4 .partnerPic {
		margin: 50px auto;
	}
	.comeContent .come4 .partnerPic img {
		width: 196px;
		height: 193px;
	}
	.comeContent .come4 .partnerPic .swiper-wrapper {
		width: 217px;
		padding-left: 0;
	}
	.swiper-button-next,
	.swiper-button-prev {
		top: 34%;
	}
	.comeContent .come1 {
		background-size: 1400px 100%;
	}
	.comeContent .come2 {
		background-size: 1400px 100%;
	}
	.comeContent .come3 {
		background-size: 1400px 100%;
	}
	.comeContent .come4 {
		background-size: 1400px 100%;
	}
	/*产品及服务*/
	.serviceCen {
		min-width: 1000px;
	}
	.serviceCen .serviceCen1 {
		background-size: cover;
	}
	.newsCen2 .newsRit {
		width: 28%;
	}
	.newsCen2 .newsRit .nRBtm dl dd {
		width: 168px;
		float: left;
	}
	.newsCen2 .newsBtm .newsBC div {
		width: 494px;
	}
	.caseCon li dl {
		width: 100%;
	}
	.caseCon li dl dd p {
		width: 90%;
	}
	.joinCon .joinWel .joinTit {
		background-size: 1400px 100%;
	}
	.joinCon .joinUs .joinTit {
		background-size: 1400px 100%;
	}
	#flashcontent {
		width: 1000px;
	}
	.joinCon .joinWel .joinShow {
		width: 1000px;
	}
	.newsBanner .flase {
		width: auto;
	}
	.newsCC .flase {
		width: auto;
	}
	.flase {
		width: 1000px;
	}
	.newsCen2 .newsRit .nRTop {
		overflow: hidden;
	}
	.newsCen2 .newsBtm .newsBC a {
		width: 476px;
	}
}


/*经典案例响应*/

@media only screen and (min-width: 1400px) and (max-width: 1680px) {
	.caseCon .caseYDiv1 {
		min-height: 685px;
	}
	.caseCon .caseYDiv2 {
		height: 685px;
	}
	.caseCon .caseYDiv3 {
		height: 685px;
	}
	.caseCon .caseYDiv4 {
		height: 685px;
	}
	.caseCon .caseYDiv5 {
		height: 685px;
	}
	.caseCon li {
		min-height: 685px;
	}
	.caseCon li .caseDiv_mask {
		height: 685px;
	}
	.caseCon .caseLi1 .caseDiv_mask {
		height: 685px;
	}
	.caseCon li dl {
		margin-top: 685px;
	}
}

@media only screen and (min-width: 1681px) and (max-width: 1920px) {
	.caseCon .caseLi1 dl {
		margin-top: 800px;
	}
	.caseCon .caseYDiv1 {
		height: 800px;
	}
	.caseCon .caseYDiv2 {
		height: 800px;
	}
	.caseCon .caseYDiv3 {
		height: 800px;
	}
	.caseCon .caseYDiv4 {
		height: 800px;
	}
	.caseCon .caseYDiv5 {
		height: 800px;
	}
	.caseCon li {
		min-height: 800px;
	}
	.caseCon .caseLi1 {
		min-height: 800px;
	}
	.caseCon .caseLi1 .caseDiv_mask {
		height: 800px;
	}
	.caseCon li .caseDiv_mask {
		height: 800px;
	}
	.caseCon li dl {
		margin-top: 800px;
	}
	.newsCen2 .newsLeft {
		width: 55%;
	}
}

@media only screen and (min-width: 1400px) {
	.caseCon li dl dt {
		width: 456px;
	}
	.caseCon li dl dd {
		width: 926px;
	}
}

@media only screen and (min-width: 1600px) and (min-width: 1920px) {
	body {
		overflow-x: hidden;
	}
	.i-bannerbig {
		width: 1920px;
	}
	.conter {
		width: 1920px;
	}
	.comeContent {
		width: 1920px;
		margin: 0 auto;
	}
	.serviceCen {
		width: 1920px;
		margin: 0 auto;
	}
	.caseCon {
		width: 1920px;
		margin: 0 auto;
	}
	.newsCon {
		width: 1920px;
	}
	.joinCon {
		width: 1920px;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 1769px) {
	.newsCen2 .newsLeft .dl {
		background-size: 100% 100%;
	}
}

@media only screen and (min-width: 1540px) {
	.newsCenter .li {
		height: 430px;
		background-size: contain;
	}
}

@media only screen and (min-width: 1700px) {
	.newsCenter .li {
		height: 442px;
	}
}

@media only screen and (min-width: 1800px) {
	.newsCenter .li {
		height: 456px;
	}
}

@media only screen and (min-width: 1900px) {
	.newsCenter .li {
		height: 472px;
	}
}

@media only screen and (max-width: 1400px) {
	.caseCon li dl dt .playImg img {
		width: 390px;
		height: 266px;
	}
	.newsBanner .swiper-wrapper .swiper-slide .newsBimg {
		background-position: center -134px;
	}
}

@media only screen and (max-width: 1500px) {
	.newsBanner .swiper-wrapper .swiper-slide .newsBimg {
		background-position: center -170px;
	}
}

@media only screen and (max-width: 1200px) {
	.newsBanner .swiper-wrapper .swiper-slide .newsBimg {
		background-position: center -17px;
	}
}

@media only screen and (max-width: 1106px) {
	.newsCenter .li .newsLiImg img {
		height: 100%;
	}
}


/*joinUs*/

@media only screen and (max-width: 1280px) {
	#logoVideo {
		height: 100%;
	}
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
	#logoVideo {
		width: 100%;
		height: auto;
	}
}

@media only screen and (min-width: 1440px) and (max-width: 1500px) {
	#logoVideo {
		width: 100%;
		height: auto;
		margin-top: -80px;
	}
}

@media only screen and (min-width: 1500px) and (max-width: 1680px) {
	#logoVideo {
		width: 100%;
		height: auto;
		margin-top: -110px;
	}
}

@media only screen and (min-width: 1680px) and (max-width:1920px) {
	#logoVideo {
		width: 100%;
		height: auto;
		margin-top: -160px;
	}
}

.music {
	width: 40px;
	height: 40px;
	background-image: url(../images/music_no.png);
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	right: 67px;
	top: 106px;
	margin: 0;
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
}

.music_add {
	background-image: url(../images/music.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-animation: run 2s linear 0s infinite;
	-moz-animation: run 2s linear 0s infinite;
	-o-animation: run 2s linear 0s infinite;
	animation: run 2s linear 0s infinite;
}

@-webkit-keyframes run {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-moz-keyframes run {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-ms-keyframes run {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes run {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}